* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "sans-serif";
  font-size: 1.6rem;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.underline {
  height: 6px;
  width: 75px;
  margin: 0.5em 0 2.5em;
  background-color: #f2bc1b;
}

.section__heading {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
}

.btn {
  padding: 1em;
  max-width: 275px;
  color: #fff;
  font-weight: bold;
  background-color: #f2bc1b;
  text-transform: uppercase;
  font-size: 1.8rem;
  border-radius: 50px;
  cursor: pointer;
}
.btn:hover {
  background-color: #6258a6;
  color: #fff;
}

.input-style {
  padding: 0.6em 1.2em;
  background-color: #ededed;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  margin-bottom: 0.5em;
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__items {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  padding: 1em;
  text-transform: uppercase;
}
.nav__items:hover {
  color: #f2bc1b;
}
.nav__logo {
  width: 160px;
}
.nav__btn {
  color: white;
  background: none;
  border: none;
  font-size: 2rem;
  padding: 0.1em;
}
.nav__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.95);
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  padding: 4em 4em 2em;
  align-items: center;
  justify-content: center;
}
.nav__container--active {
  transform: translateY(0);
}
.nav__exit {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background: none;
  color: white;
  font-size: 3rem;
  z-index: 1001;
  display: none;
}
.nav__exit--active {
  display: block;
}

.header {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: 100vh;
}
.header__img {
  background-image: url("../img/hero-img-sm.jpg");
  z-index: 0;
  background-position: center;
  background-size: cover;
}
.header__container {
  position: absolute;
  top: 80px;
  display: flex;
  padding: 4em;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}
.header__title {
  font-size: 1.5em;
  font-weight: bold;
}
.header__text {
  font-size: 0.9em;
  margin: 1em 0em 2em;
}
.header__btn {
  font-size: 0.8em;
  background: none;
  border: 3px solid #f2bc1b;
  margin: 0.5em;
}
.header__btn:hover {
  background-color: #f2bc1b;
  color: #000;
}
.header__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.aboutus {
  margin: 5em 0;
  padding: 2em;
}
.aboutus__text {
  margin-bottom: 3em;
}
.aboutus__container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
}
.aboutus__icon {
  font-size: 5rem;
  color: #6258a6;
}
.aboutus__heading {
  font-size: 2.5rem;
  color: #9896d9;
  margin: 1em 0;
}
.aboutus__items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  text-align: center;
}

.menu {
  padding: 5em;
  background-color: #6258a6;
}
.menu__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.menu__item {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  background-color: #9896d9;
  padding: 1.5em;
  align-items: center;
}
.menu__item-heading {
  margin: 1em 0 0.2em;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.menu__item-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width: 250px;
  overflow: hidden;
  z-index: 0;
}
.menu__item-img {
  height: 100%;
  transition: transform 0.3s;
}
.menu__item-img:hover {
  transform: scale(1.2);
}
.menu__item-text {
  font-size: 1.8rem;
  color: #fff;
}
.menu__item-product {
  color: #000;
  font-size: 1.4rem;
}
.menu__item-price {
  margin-top: 1em;
  padding: 0.5em 0.7em;
  align-self: flex-end;
  background-color: #f2bc1b;
  font-weight: bold;
}
.menu .section__heading {
  color: #fff;
}

.events {
  background-color: #9896d9;
  padding: 5em 2em;
}
.events .carousel-caption {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.8);
}
.events .carousel-caption h3 {
  margin-bottom: 0.8em;
  font-weight: bold;
}
.events .carousel-indicators {
  padding-bottom: 20px;
}
.events .cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.events .cards-container .card {
  width: 350px;
  margin: 1em;
}
.events .cards-container .card .card-body {
  padding: 1em;
}
.events .cards-container .card .card-body .card-title {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.contact {
  margin-top: 5em;
  padding: 0 2em;
}
.contact__heading {
  font-size: 2.8rem;
  font-weight: bold;
  color: #9896d9;
}
.contact__text {
  margin: 1em 0 3em;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  margin-bottom: 4em;
}
.contact__form-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
}
.contact__form-top-line {
  display: flex;
  flex-direction: column;
}
.contact__form-down {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.contact__form-label {
  margin-bottom: 0.5em;
}
.contact__form-input {
  padding: 0.6em 1.2em;
  background-color: #ededed;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  margin-bottom: 0.5em;
}
.contact__form-textarea {
  padding: 0.4em 0.8em;
  background-color: #ededed;
  border: none;
  border-radius: 0.5em;
  width: 100%;
  min-height: 150px;
}
.contact__form-btn {
  margin: 2em 0 0;
  align-self: flex-end;
  width: 8em;
}
.contact__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.contact__info-container {
  margin: 1em;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.contact__info-icon {
  font-size: 5rem;
  color: #6258a6;
}
.contact__info-heading {
  font-size: 2rem;
  color: #9896d9;
  margin: 1em 0;
}
.contact__social-media {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__social-media-heading {
  font-size: 2.8rem;
  font-weight: bold;
  color: #9896d9;
  margin-bottom: 1em;
}
.contact__social-media-container {
  display: flex;
  justify-content: space-between;
  width: 15em;
  margin-bottom: 3em;
}
.contact__social-media-icon {
  font-size: 6rem;
  color: #6258a6;
  cursor: pointer;
}
.contact__social-media-icon:hover {
  color: #f2bc1b;
}

.footer {
  background-color: #9896d9;
  line-height: 0;
  padding: 2em;
  text-align: center;
}
.footer__text {
  margin: 0;
  font-size: 2.5rem;
  color: #fff;
}

.reservations {
  margin: 2em 0;
  padding: 0 2em;
}
.reservations form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  font-size: 1.8rem;
}
.reservations form__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
}
.reservations form .reservations-form__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.reservations form .reservations-form__item-label {
  font-weight: bold;
  color: #6258a6;
  margin-bottom: 0.5em;
  font-size: 2rem;
  text-transform: uppercase;
}

@media (min-width: 390px) {
  .header__container {
    top: 100px;
  }
  .header__title {
    font-size: 3rem;
  }
  .header__text {
    font-size: 1rem;
  }
  .header__btn {
    font-size: 1.5rem;
  }
}
@media (min-width: 576px) {
  .header__container {
    top: 250px;
  }
  .header__title {
    font-size: 4rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__btn {
    font-size: 1.8rem;
  }
  .nav__logo {
    width: 250px;
  }
  .menu__item {
    width: 450px;
  }
  .menu__item-img-container {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .header__img {
    background-image: url("../img/hero-img-md.jpg");
  }
  .header__container {
    top: 300px;
  }
  .aboutus__items {
    flex-direction: row;
  }
  .menu__item {
    width: 280px;
  }
  .menu__item-img-container {
    width: 240px;
    height: 230px;
  }
  .contact__form-top {
    flex-direction: row;
    width: 600px;
  }
  .contact__form-down {
    width: 600px;
  }
  .contact__form-input {
    width: 295px;
  }
  .contact__info {
    flex-direction: row;
    align-items: flex-start;
  }
}
@media (min-width: 992px) {
  .nav__btn {
    display: none;
  }
  .nav__container {
    position: static;
    height: 100%;
    z-index: 0;
    background: none;
    flex-direction: row;
    padding: 0;
    justify-content: right;
    transform: translateY(0);
  }
  .nav__exit {
    display: none;
  }
  .nav__items {
    font-size: 1.6rem;
  }
  .menu__item {
    width: 325px;
  }
  .menu__item-img-container {
    width: 285px;
  }
  .contact__info-heading {
    font-size: 2.5rem;
  }
}
@media (min-width: 1200px) {
  .header__img {
    background-image: url("../img/hero-img-lg.jpg");
  }
  .header__container {
    position: static;
    padding-top: 45vh;
    margin-left: 30%;
    align-items: flex-start;
    text-align: left;
  }
  .menu__item {
    width: 325px;
  }
  .menu__item-img-container {
    width: 285px;
  }
}/*# sourceMappingURL=main.css.map */