@use "./colors" as *;
@use "./components" as *;
@use "./animations" as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", "sans-serif";
	font-size: 1.6rem;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.underline {
	height: 6px;
	width: 75px;
	margin: 0.5em 0 2.5em;
	background-color: $main-color;
}

.section__heading {
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: bold;
	color: $dark;
}

.btn {
	padding: 1em;
	max-width: 275px;
	color: $light;
	font-weight: bold;
	background-color: $main-color;
	text-transform: uppercase;
	font-size: 1.8rem;
	border-radius: 50px;
	cursor: pointer;

	&:hover {
		background-color: $dark-violet;
		color: $light;
	}
}

::-webkit-calendar-picker-indicator {
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
}

//NAV
.nav {
	position: fixed;
	width: 100%;
	z-index: 100;
	padding: 1.5em;
	background-color: rgba(0, 0, 0, 0.6);
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__items {
		color: $light;
		font-size: 2rem;
		text-decoration: none;
		padding: 1em;
		text-transform: uppercase;

		&:hover {
			color: $main-color;
		}
	}
	&__logo {
		width: 160px;
	}

	&__btn {
		color: white;
		background: none;
		border: none;
		font-size: 2rem;
		padding: 0.5em;
	}

	&__container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 1000;
		background-color: rgba(0, 0, 0, 0.95);
		transform: translateY(100%);
		display: flex;
		flex-direction: column;
		padding: 4em 4em 2em;
		align-items: center;
		justify-content: center;

		&--active {
			transform: translateY(0);
		}
	}

	&__exit {
		position: absolute;
		top: 24px;
		right: 24px;
		padding: 0.3em;
		border: none;
		background: none;
		color: white;
		font-size: 3rem;
		z-index: 1001;
		display: none;

		&--active {
			display: block;
		}
	}
}

//HEADER
.header {
	position: relative;
	color: $light;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	&__img {
		background-image: url("../img/hero-img-sm.jpg");
		z-index: 0;
		background-position: center;
		background-size: cover;
		height: 100vh;
	}

	&__container {
		padding: 4em;
		text-align: center;
	}

	&__title {
		font-size: 3rem;
		font-weight: bold;
	}

	&__text {
		font-size: 2rem;
		margin: 1em 0em 2em;
	}

	&__btn {
		font-size: 1.6rem;
		background: none;
		border: 3px solid $main-color;

		&:hover {
			background-color: $main-color;
			color: $dark;
		}
	}

	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: -1;
	}
}

//ABOUT US

.aboutus {
	margin: 5em 0;
	padding: 2em;

	&__text {
		margin-bottom: 3em;
	}

	&__container {
		margin: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 350px;
	}

	&__icon {
		font-size: 5rem;
		color: $dark-violet;
	}

	&__heading {
		font-size: 2.5rem;
		color: $light-violet;
		margin: 1em 0;
	}
	&__items {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		width: 100%;
		text-align: center;
	}
}

//MENU
.menu {
	padding: 5em;
	background-color: $dark-violet;

	&__container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	&__item {
		width: 300px;
		display: flex;
		flex-direction: column;
		margin: 0.5em;
		background-color: $light-violet;
		padding: 1.5em;
		align-items: center;

		&-heading {
			margin: 1em 0 0.2em;
			font-size: 2.5rem;
			font-weight: bold;
			text-transform: uppercase;
			color: $light;
		}

		&-img-container {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 280px;
			width: 250px;
			overflow: hidden;
			z-index: 0;
		}

		&-img {
			height: 100%;
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.2);
			}
		}

		&-text {
			font-size: 1.8rem;
			color: $light;
		}

		&-product {
			color: $dark;
			font-size: 1.4rem;
		}

		&-price {
			margin-top: 1em;
			padding: 0.5em 0.7em;
			align-self: flex-end;
			background-color: $main-color;
			font-weight: bold;
			// border-radius: 50px;
		}
	}
	.section__heading {
		color: $light;
	}
}

//EVENTS

.events {
	background-color: $light-violet;
	padding: 5em 3em;

	.carousel-caption {
		left: 0;
		right: 0;
		bottom: 0;
		padding: 40px 20px;
		background-color: $dark-violet-transparnet;

		h3 {
			margin-bottom: 0.8em;
			font-weight: bold;
		}
	}

	.carousel-indicators {
		padding-bottom: 20px;
	}

	.cards-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		.card {
			margin: 1em 0;
			.card-body {
				padding: 1.5em;
				.card-title {
					margin-bottom: 0.8em;
					font-weight: bold;
				}
			}
		}
	}
}

//KONTAKT

.contact {
	margin-top: 5em;
	padding: 0 3em;

	&__heading {
		font-size: 2.8rem;
		font-weight: bold;
		color: $light-violet;
	}

	&__text {
		margin: 1em 0 3em;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		text-align: center;
		align-items: center;

		&-container {
			margin: 1em;
			display: flex;
			flex-direction: column;
			width: 300px;
		}

		&-icon {
			font-size: 5rem;
			color: $dark-violet;
		}

		&-heading {
			font-size: 2rem;
			color: $light-violet;
			margin: 1em 0;
		}
	}

	&__social-media {
		margin: 2em 0;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-heading {
			font-size: 2.8rem;
			font-weight: bold;
			color: $light-violet;
			margin-bottom: 1em;
		}

		&-container {
			display: flex;
			justify-content: space-between;
			width: 15em;
			margin-bottom: 3em;
		}
		&-icon {
			font-size: 6rem;
			color: $dark-violet;
			cursor: pointer;

			&:hover {
				color: $main-color;
			}
		}
	}
}

//FOOTER

.footer {
	width: 100%;
	background-color: $light-violet;
	line-height: 0;
	padding: 2em;
	text-align: center;

	&__text {
		margin: 0;
		font-size: 2.5rem;
		color: $light;
	}
}

//RESERVATION

.reservations {
	padding: 4em 2em;
}

@media (min-width: 576px) {
	.header {
		&__title {
			font-size: 3.5rem;
		}

		&__btn {
			font-size: 1.8rem;
		}
	}

	.nav {
		&__logo {
			width: 250px;
		}
	}
	.menu {
		&__item {
			width: 450px;

			&-img-container {
				width: 400px;
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__img {
			background-image: url("../img/hero-img-md.jpg");
		}
	}
	.aboutus {
		&__items {
			flex-direction: row;
			align-items: flex-start;
		}
	}

	.menu {
		&__item {
			width: 280px;

			&-img-container {
				width: 240px;
				height: 230px;
			}
		}
	}

	.contact {
		&__info {
			flex-direction: row;
			align-items: flex-start;
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__title {
			font-size: 4rem;
		}
	}
	.nav {
		&__btn {
			display: none;
		}

		&__container {
			position: static;
			height: 100%;
			z-index: 0;
			background: none;
			flex-direction: row;
			padding: 0;
			justify-content: right;
			transform: translateY(0);
		}
		&__exit {
			display: none;
		}

		&__items {
			font-size: 1.6rem;
		}
	}
	.menu {
		&__item {
			width: 325px;

			&-img-container {
				width: 285px;
			}
		}
	}
	.contact {
		&__info {
			&-heading {
				font-size: 2.5rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__img {
			background-image: url("../img/hero-img-lg.jpg");
		}

		&__container {
			margin-left: 30%;
			text-align: left;
		}
	}

	.menu {
		&__item {
			width: 325px;

			&-img-container {
				width: 285px;
			}
		}
	}

	.events {
		padding: 5em;
	}
}
